<h1>About Page</h1>
<h3>Where to begin</h3>
<p>
	The Archives table contains all the Project Heisenberg problems. They are in
	no particular order. In the table you will be bale to see how many people
	have solved each problem; as a general rule of thumb the more people that 
	have solved it, the easier it is. There is a difficulty rating system which
	may also help you decide where to start.
</p>

<h3>Discusion Thread for Problems</h3>
	Only users who have solved a particular problem can access the thread for that
	problem. Once you have access you will be able to see how other users have 
	solved the problem, discuss methods, and share insights.
</p>

<h3>Kudos</h3>
<p>
	The purpose of Kudos is to let the poster or other members know that you 
	found a particular post helpful, useful, or well written. You can see how
	many Kudos each person has in their progress page.
</p>

<h3>Publishing Solutions Elsewhere</h3>
<p>
	You learn physics by working on problems and quite often failing to solve 
	problems. What's important is the journey to the solution, and not the 
	solution itself. Real learning is an active process and by showing others
	your solution, you are hindering both the enjoyment of solving a problem and
	the learning process that accompanies it. Please do not deny people what
	you have valued yourself.
<p>

<h3>Another way to Discuss and Meet Other Members</h3>
<p>
	You can add users as friends and have private discussions with them. Coming
	soon, there will be a general forum set up to allow users to engage in 
	general discussions, share ideas relating to problem solving and physics,
	make suggestions about the website, and ask for clarification of certain 
	problems.
</p>

<h3>Reporting an Error</h3>
<p>
	With newly released problems it is possible that a small error may have
	slipped through the crack. If you want to report an error or think a problem
	is ambiguous and needs further clarification, you can contact us at
	projectheisenberg@gmail.com. Coming soon, there will be a general forum
	where you will be able to report these kinds of issues.
</p>

<h3>New Problems</h3>
<p>
	There will be at least 3 new problems every week. Some weeks there may be 
	more than 3 problems posted. If you have a suggestion for a problem, contact
	us at projectheisenberg@gmail.com.
</p>

<h3>Progress Page</h3>
<p>
	The scores listed in the progress page are there so that you can see what you
	have accomplished so far and to provide a bit of extra fun as you solve 
	problems. They should encourage you to make short term targets.
</p>
