$('#comment-<%=@comment_id%>').remove();
var html = "<div class='flash-top alert alert-success text-center'><img class='inline-icon g-mr-10' src='/success.png'> Your comment was deleted. </div>";
$('body').append(html);
$('.flash-top').slideDown(750);
setTimeout(function(){
	$('.flash-top').slideUp(750);
}, 4000);

