<div class="modal fade in" id="new-conversation-modal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content g-primary-card">
			<h3 class="stats-title text-center dark-grey-circle w-100 g-pa-20 g-mb-0 font-weight-600 g-mt-0">
				New Message
			</h3>

			<div class="modal-body">
				<div class="search-container">
					<form class="search-form" role="Search" style="text-align: center;">
      			<div class="ui-widget">
							<label>Who do you want to message?</label><br>
        			<input type="text" id="username-search" class="" placeholder="Recipient's Username">
      			</div>
    			</form>
				</div>
				<div class="">
					<%= form_for(Message.new, :remote => true, html: {class: "messages-form", 'data-type': 'json'}) do |f| %>
						<%= f.text_area :body, placeholder: "Add a Message...", class: "post-textarea", id: 'modal-msg-body' %>


						<div class="msg-actions">
							<span class="preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
							<span class= "msg-submit">Send</span>
						</div>
					<% end %>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
