<% if @user %>
	<% model = @user %>
<% elsif @post %>
	<% model = @post %>
<% elsif @message %>
	<% model = @message %>
<% elsif @problem %>
	<% model = @problem %>
<% end %>
<% if model.errors.any? %>
  <div id="error_explanation">
   <ul>
    <li><%= model.errors.full_messages.first %></li>
    </ul>
  </div>
<% elsif flash[:error] %>
	<div id="error_explanation">
  	<ul>
    	<li><%= flash[:error] %></li>
   	</ul>
  </div>
<% elsif flash[:alert] %>
	<div id="error_explanation">
  	<ul>
    	<li><%= flash[:alert] %></li>
   	</ul>
  </div>
<% end %>
