$('#post-count-<%=@post_count%>').closest('.row').remove();
var html = "<div class='flash-top alert alert-success text-center'> <img class='inline-icon g-mr-10' src='/success.png'> Your post was deleted. </div>";
$('body').append(html);
$('.flash-top').slideDown(500);
setTimeout(function(){
	$('.flash-top').slideUp(500);
}, 4000);

