// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* fonts, mixins, variables, etc. */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
  url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
  url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ede7f6;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
button:focus {outline:0 !important; }


/* header */

.navbar {
	background-image: linear-gradient(to right, #9c6283, #834d74, #6a3a66, #512858, #37174a);
	/*background-color: #37174A;*/
	
	border: none;
	border-radius: 0;
	.container-fluid {

		.navbar-header .navbar-toggle {
			&:hover, &:focus {
				background-color: inherit;
			}
		}

		.navbar-brand {
			color: #E7E7E7;
			padding: 0;
			margin-bottom: 5px;
  		margin-left: 15px;	
			margin-top: 5px;
			width: 32px;
			height: 32px;
		}
		.navbar-nav > li > a {
			color: #D8D8D8;
			font-weight: 600;
			opacity: 0.8;	
		}
		.navbar-nav > li > a:hover,
		.navbar-nav > li a:focus {
			color: #fff;
			opacity: 1;
		}
		.navbar-nav > .active > a,
		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus {
			color: #fff;
			opacity: 1;
			background-color: inherit;	
		}
		.navbar-nav > .active > a:before {
				content: "";
  			position: absolute;
  			width: calc(100% - 30px);
				margin-left: 15px;
  			height: 4px;
  			bottom: 0;
  			left: 0;
  			background-color: #b39ddb;
  			-webkit-transition: all 0.3s ease-in-out 0s;
  			transition: all 0.3s ease-in-out 0s;
				visibility: visible;
  			-webkit-transform: scaleX(1);
  			transform: scaleX(1);
		}

		@media (min-width: 667px) {
			.navbar-nav > .active > a:before {
				background-color: #000;
  			visibility: hidden;
  			-webkit-transform: scaleX(0);
  			transform: scaleX(0);
  			-webkit-transition: all 0.3s ease-in-out 0s;
  			transition: all 0.3s ease-in-out 0s;
			}
		}

		.navbar-nav > .open > a,
		.navbar-nav > .open > a:hover,
		.navbar-nav > .open > a:focus {
    	color: #fff;
			background-color: inherit;
		}

		.navbar-right {
			margin-right: 15px;
		}
	}
}

.navbar-brand {
	padding: 0;
	padding-bottom: 5px;
  margin-left: 15px;
	padding-top: 6px;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.dropdown-menu{
	padding: 0;
	margin:0;
}

.dropdown-menu > li > a:hover {
	opacity: 0.5;
}

.dropdown-menu li:not(:first-child) {
	border-top: 1px solid black;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

.not_read {
	background-color: #87ceeb;
}

/* make the badge float in the top right corner of the message button */
.button_badge {
	background-color: #fa3e3e;
  border-radius: 3px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute;
  top: 20%;
  right: 7%;
}

.flash-top {
	display: none;
	position: fixed;
	bottom: 0;
	width: 50%;
	z-index: 10000;
	margin: 5px auto;
	left: 0;
	right: 0;
	color: rgba(216,216,216,0.8);
	font-weight: 600;
	background-image: linear-gradient(to top, #9c6283, #834d74, #6a3a66, #512858, #37174a);
}

/* forms */

input, textarea, select, .uneditable-input {
/*	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;*/
}

.problem-form {
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
	width: 15%;
}

.check {
	margin-top: -10px;
	width: 45%;
	font-size: 15px;
	padding: 0;
	
}

input {
  /*height: auto !important;*/
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
		li {
			font-family: Poppins-Regular, sans-serif;
			list-style-type: inherit;
		}
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  line-height: 1;
	text-align:center;
	font-weight: bold;
}


.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

.search-form {
	margin-bottom: 5%;
}

/* Archives */



/* Users index */

.users {
  list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid gray;
	}
}

.user_path {
	color: inherit;
	text-decoration: none;
}

.user_path:hover {
	color: black;
  text-decoration: none;
}

.friend {
	color: inherit;
	text-decoration: none;
}

.friend:hover {
	color: green;
  text-decoration: none;
}

.unfriend {
	color: inherit;
	text-decoration: none;
}

.unfriend:hover {
	color: red;
  text-decoration: none;
}

.link {
	color: inherit;
	text-decoration: none;
}

.link:hover {
	text-decoration: none;
	color: black;
}

/* progress view */

.form_box {
	position: relative;
	background-color: #ffefbd;
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #bbb;	
	display:inline-block;
	text-align:center;
	margin-left: 50%;
	left: -14%;
	width:28%;
	margin-bottom: 5%;
}

.stats {
	text-align:center;
	text-shadow:1px 1px 0px #fff;
	margin-top: 25px;
}

ul.inline {
	margin-left: 0;
	list-style: none;
}

.stats li {
	width: 125px;
}

ul.inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


.stats span {
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: 1px 1px 0px #fff;
	font-size: 4em;
	display: block;
	line-height: 1em;
}

#problems_solved_section {
	margin-bottom: 50px;
}

.problem_info {
	position: relative;
	/*display: block;*/
}

.infobox {
	font-size: 85%;
	visibility: hidden;
  width: 200px;
	top: 150%;
	left: 50%;
	margin-left: -100px;
  background-color:LightGrey;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
	border:1px solid black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.problem_info:hover .infobox{
	visibility: visible;
}
/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width:768px) and (max-width:979px) {
}
/* Landscape phone to portrait tablet */

/* Landscape phone and down */

/* tables */

.table-striped {
  margin-top: 5%;
}

.find-friend-btn {
	text-align: left;
}

.table-bordered {
	font-size: 85%;
}

.my_button {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 10%;
	height: 30px;
	background: #337ab7;
	border-color: #2e6da4;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
  border: 1px solid transparent;
}

.my_button:hover {
	text-decoration: none;
	color: white;
	opacity: 0.8;
}

.problems_solved_table {
	display: table;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: grey;	
}

.problems_solved_table td {
	width: 25px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 90%;
  color: #333;
	padding: 10px;
	border: 1px solid #bbb;
	display: table-cell;
}

.problem_solved {
	background-color: #cee7b6;
}

.problem_unsolved {
	background-color: #fff;
}

/* Problem/:id */

blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.problem_content {
  background-color: #fff;
  font-size: 110%;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #ddd;
  border-right: solid 1px #aaa;
  padding: 10px;
}

.problem-solved {
	position:relative;
	text-align: center;
	top:50px;
}

#problems-nav {
	position: relative;
	margin-bottom: 50px;
	font-size: 200%;

}

#prev {
	position: relative;
	float: left;
	color:green;
	
}

#next {
	position: relative;
	float: right;
	color: green;
}

/* Topics show view */

.forum_table {
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.post {
    padding: 0;
    margin: 0;
		margin-top: 35px;
    border-width: 0;
    font-size: 90%;
    font-family: "Trebuchet MS", sans-serif;
    /*min-height: 800px;*/
    background-color: #fff;
    color: #000;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.forum_table td {
    padding: 5px;
}
.forum_info {
    background-color: #f7efde;
    color: #000;
    vertical-align: top;
    border-right: 1px solid #ddd;
}

.forum_info {
    width: 180px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

a {
    text-decoration: none;
    color: #777;
}

img {
    border: 0;
    vertical-align: bottom;
}


/*********************** Forum Styles *************/

.thread-body {	
	.thumbnail {
		padding-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		.caption {
			padding-bottom: 0;
			padding-right: 0;
			padding-left: 0;
				
			.comment-section span.glyphicon-remove {
				color: red;
				opacity: 0.5;
				float: right;
				cursor: pointer;
				margin-right: 5px;
				&:hover {
					opacity: 1;
				}
			}

			.more-comments-link {
				margin-left: 5px;
				color: #7e57c2;
				font-size: 12px;
				font-family: Poppins-Medium;
				margin-top: 12px;
				margin-bottom: 10px;
				cursor: pointer;
				opacity: 0.8;
				&:hover {
					opacity: 0.4;
				}
			}

			.bold-text {
				font-size: 14px;
				font-weight: 200;
				color: #262626;
				font-family: Poppins-Bold;
				color: #666666;
			}

			.comment-styles {
				color: #262626;
				font-family: Poppins-Regular;
				font-size: 12px;
				margin-bottom: 0;
			}
		}
	}

	.preview-btn {
		background-image: linear-gradient(to right, #9c6283, #834d74, #6a3a66, #512858, #37174a);
	}

	.submit-btn {
		background-image: linear-gradient(to left, #9c6283, #834d74, #6a3a66, #512858, #37174a);
	}
	
	.comment-actions {
		display: none;
		width: 100%;
		text-align: center;	
	}
			
	.post-actions {
		width: 100%;
		text-align: center;
	}

	.general-post-btn {
		margin-top: 15px;
		margin-bottom: 15px;	
  	color: #fff;
		border-radius: 17px;
  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
		&:hover {
			color: rgba(216, 216, 216, 0.8);
		}
	}
}

.round-thumb {
	border-radius: 50%;
	float: left;
}

.username-feed {
	color: #262626;
	font-weight: 600;
	font-size: 14px;
	font-family: Poppins-Regular;
	padding-left: 15px;
}

.action_buttons {
    font-size: 75%;
    text-align: right;
		float: right;
		margin-right: 5px;
    font-weight: bold;
}

.forum_message {
    color: #000;
    font-family: "Consolas", "Lucida Console", "Monaco", "Courier New", Courier, monospace;
    font-size: 1.1em;
		padding: 15px;
		
/*  border-bottom: 1px solid #e5e5e5;
    vertical-align: top;
 		white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;*/
		border-bottom: 1px solid #e5e5e5;

	
		p {
			margin: 0;
			display: block;
		}
}

.time-ago {
	color: #666666;
	font-size: 9px;
	font-family: Poppins-Regular;
	text-transform: uppercase;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 5px;
}


.vote-container-post {
	padding-left: 0;
	padding-right: 0;
	vertical-align: middle;
	float: right;
	margin-top: -15px;
}

.vote-container {
	.glyphicon {
		cursor: pointer;
		font-weight: 800;
		display: block;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 14px;
		color: #333;
	}

	p {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
	}


	a {
		.glyphicon:hover {
			color: #9c6283;
		}
	}
}

.light-purple {
	color: #9c6283 !important;
	font-weight: 800;
}

.vote-container-comment {
	padding-left: 0;
	padding-right: 0;
	margin-left: 5px;
	margin-right: 14px;
	vertical-align: middle;
	float: left;
	font-size: 12px;
	
	p {
		display: block;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
		font-size: 14px;
	}
}

.comment-item {
	border-bottom: 1px solid #e5e5e5;

	min-height: 50px;
	margin-bottom: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.comment-text {
	overflow: hidden;
	margin-left: 10px;
}

.more-posts-btn, .navbar-gradient {
	background-image: linear-gradient(to right, #9c6283, #834d74, #6a3a66, #512858, #37174a);
}


.forum_message {
    /*width: 820px;*/
}

.liked {
	color: gold !important;
}

.comment-form-container {
	/*border-top: 1px solid #e5e5e5;*/
}

.comment-text-area {
	width: 100%;
	max-height: 80px;
	vertical-align: middle;
	line-height: 18px;
	font-family: Poppins-Regular;
	color: #666666;
	background-color: #F5F5F5;
	border-color: #D8D8D8;
  border-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px;
  box-shadow: none;
	margin-bottom: 0;
	padding: 10px;
	min-height: 75px;
	outline: none;
}


.comment-submit-btn {
	margin-top: 15px;
}

.post-textarea {
	width: 100%;
	min-height: 200px;
	vertical-align: middle;
	line-height: 18px;
	font-family: Poppins-Regular;
	color: #666666;
	background-color: #F5F5F5;
	border-color: #D8D8D8;
  border-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px;
  box-shadow: none;
	margin-bottom: 10px;
	padding: 10px;
	outline: none;

}

/***************** Dashboard **********************/

.dashboard-page {
	.row {
		
	}
}

.branch-card {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: white;

	&:hover {
		border: 5px solid #37174a;
    overflow: hidden;
		margin-top: 15px;
		margin-bottom: 15px;
		
	}

	.branch-name {
		font-size: 150%;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #34282C;
		font-weight: 900;
		width: 63%;
	}
	.progress {
		height: 12px;
		width: 63%;
	}
	.progress-bar {
		background-image: linear-gradient(to right, #9c6283, #834d74, #6a3a66, #512858, #37174a);
	}

	.percent-solved {
		color: #34282C;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 900;
	}

	.problems-solved {
		color: #34282C;
		opacity: 0.8;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.dash-btn {
		background-color: white;
		border: 1px solid #37174a;
		color: #37174a;
		margin-bottom: 20px;

		&:hover {
			border: 3px solid #37174a;
			margin-bottom: 17px;
			z-index: -1;
		}
	}

	.dash-icon {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 10000;
		border: 1px solid #37174a;
		overflow: hidden;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
	}
	
	.dash-icon:before {
		content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.5);
		background-image: radial-gradient(circle, #9c6283, #834d74, #6a3a66, #512858, #37174a);
		opacity: 0.4;

	}
}
