// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* fonts, mixins, variables, etc. */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
  url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
  url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* header */

.navbar-brand {
  margin-right: 10px;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

.problem-form {
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
	width: 15%;
}

.check {
	margin-top: -10px;
	width: 45%;
	font-size: 15px;
	padding: 0;
	
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  line-height: 1;
	text-align:center;
	font-weight: bold;
}


.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

.search-form {
	margin-bottom: 5%;
}


/* Users index */

.users {
  list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid gray;
	}
}

.user_path {
	color: inherit;
	text-decoration: none;
}

.user_path:hover {
	color: black;
  text-decoration: none;
}

.friend {
	color: inherit;
	text-decoration: none;
}

.friend:hover {
	color: green;
  text-decoration: none;
}

.unfriend {
	color: inherit;
	text-decoration: none;
}

.unfriend:hover {
	color: red;
  text-decoration: none;
}

.link {
	color: inherit;
	text-decoration: none;
}

.link:hover {
	text-decoration: none;
	color: black;
}

/* progress view */

.form_box {
	position: relative;
	background-color: #ffefbd;
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #bbb;	
	display:inline-block;
	text-align:center;
	margin-left: 50%;
	left: -14%;
	width:28%;
	margin-bottom: 5%;
}

.stats {
	text-align:center;
	text-shadow:1px 1px 0px #fff;
	margin-top: 25px;
}

ul.inline {
	margin-left: 0;
	list-style: none;
}

.stats li {
	width: 125px;
}

ul.inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


.stats span {
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: 1px 1px 0px #fff;
	font-size: 4em;
	display: block;
	line-height: 1em;
}

#problems_solved_section {
	margin-bottom: 50px;
}

.problem_info {
	position: relative;
	/*display: block;*/
}

.infobox {
	font-size: 85%;
	visibility: hidden;
  width: 200px;
	top: 150%;
	left: 50%;
	margin-left: -100px;
  background-color:LightGrey;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
	border:1px solid black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.problem_info:hover .infobox{
	visibility: visible;
}
/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width:768px) and (max-width:979px) {
}
/* Landscape phone to portrait tablet */

/* Landscape phone and down */

/* tables */

.table-striped {
  margin-top: 5%;
}

.find-friend-btn {
	text-align: left;
}

.table-bordered {
	font-size: 85%;
}

.my_button {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 10%;
	height: 30px;
	background: #337ab7;
	border-color: #2e6da4;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
  border: 1px solid transparent;
}

.my_button:hover {
	text-decoration: none;
	color: white;
	opacity: 0.8;
}

.problems_solved_table {
	display: table;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: grey;	
}

.problems_solved_table td {
	width: 25px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 90%;
  color: #333;
	padding: 10px;
	border: 1px solid #bbb;
	display: table-cell;
}

.problem_solved {
	background-color: #cee7b6;
}

.problem_unsolved {
	background-color: #fff;
}

/* Problem/:id */

blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.problem_content {
  background-color: #fff;
  font-size: 110%;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #ddd;
  border-right: solid 1px #aaa;
  padding: 10px;
}

.problem-solved {
	position:relative;
	text-align: center;
	top:50px;
}

#problems-nav {
	position: relative;
	margin-bottom: 50px;
	font-size: 200%;

}

#prev {
	position: relative;
	float: left;
	color:green;
	
}

#next {
	position: relative;
	float: right;
	color: green;
}
