<hr class="default-border">
<footer class="footer-container" role="contentinfo">
	<div class="f-1-ch-1 f-1-ch-2 text-center" style="max-width: 935px;">
		<nav role="navigation col-md-">
			<ul>
				<li class="footer-item">
					<a href="#">About</a>
				</li>
				<li class="footer-item">
					<a href="#">Contributions</a>
				</li>
				<li class="footer-item">
					<a href="#">Github</a>
				</li>
			</ul>
		</nav>
		<span class="copyright text-center">© 2018 Rodrigo Aguilar</span>
	</div>
</footer>
